html, body, #map {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #000 !important;
  overflow-x: hidden;
  z-index: 1;
}

.user-no-select {
  user-select: none;
}

// Hide the borders around the map
.mask-overlay {
  outline: 3px solid #000;
  box-shadow: inset -3px 0 0 0 #000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}